@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

.center-flex {
  @apply flex items-center justify-center;
}

.bold-style {
  @apply font-medium tracking-wider;
}

.stroke{
  @apply border border-white/50;
}

:root {
  box-sizing: border-box;
  --containerBlack: #1a1e21;
  --black: #0d1012;
  color: white;
  background-color: var(--black);
  font-family: Arimo;
}
